/*global*/

.floatWrap:after,#containgrid:after{content:"";display:block;clear:both}
.floatWrap,#containgrid{display:inline-block}
.floatWrap,#containgrid{display:block}
.clear{clear:both}

html
{
    top: 0;
    left: 0;
    overflow-y:scroll;
    font:70% 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    background: url("flowers-right.png") no-repeat fixed 100% -174px #FFFFFF;
}
body
{
    margin: 0;
    padding: 20px;
}

.page
{
    width:100%;
    margin:10px auto;
    padding:10px;
    background:#fff;
    box-shadow: 1px 1px 7px 1px #999;
}

#containgrid
{
    margin: 0px auto;
    padding: 10px;
    border: 0;
    width: 1198px;
    max-width: 1198px;
    background: transparent;
    height:100%;
    min-height: 100%;
    clear:both;
}

/*console*/

.console
{
    background-color: #fff;
    border:solid #ccc;
    border-width:1px 0;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 200px;
    margin: 1.4em 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.console .count,
.km-root .km-android .console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}


.source .code .controller {
    display: none;
}

/* Pretty Print */
.prettyprint
{
    font-size: 12px;
    overflow: auto;
}

.k-grid-content {
    overflow-x: auto    !important;
}

.windsurfing33 {
    float:left;
    width:380px;
    height:99px;
    margin-right: 50px;
    background-image: url("windsurfing33.png");
}

.banner {
    clear:both;
    height:99px;
    margin: 0px auto;
    padding: 0px;
    border: 0;
    width: 1198px;
    max-width: 1198px;
}

.textbanner {
    margin: auto;
    float: left;
    width:420px;
    height: 99px;
    background-image: url("gps_challenge.png");
}

.glissup {
    float:right;
    width:300px;
    height:99px;
    background-image: url("glissup.png");
}